
  .card {position: relative; border-radius: 3px; background-color: #fff;color: #4f5256;border: 1px solid #f2f2f2;margin-bottom: 16px;background:#fff;}
  .card-header{ padding: 16px;margin:0px;}
  .card-body {position: relative; padding: 16px;}
  
  .gaadiex-list {list-style-type: none; margin: 0;padding: 0;}
  .gaadiex-list>.gaadiex-list-item {padding: 0 22px;}
  .gaadiex-list-item-img  {
      float: left;
      width: 120px;
      height: 120px;
      margin-top: 20px;
      margin-bottom: 8px;
      margin-right: 20px;
      border-radius: 50%;
  }
  .gaadiex-list-item i  {
      float: left;
      font-size:48px;
      width: 58px;
      height: 58px;
      margin-top: 20px;
      margin-bottom: 8px;
      margin-right: 20px;
      border-radius: 50%;
  }
  .gaadiex-list:hover{
    transition:0.5s;
    transform: scale(1.01);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .border-b-1 {border: 3px solid rgb(57 180 155 / 32%)}
  
  .bgpink {
    background-color: #711843 !important;
  }
  
  .white {
    color: #fff !important;
  }